@import "../../Assets/cssVariable";

.login-form {
  text-align: center;
  min-height: 80vh;
  .login-form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F2CA0F;
    height: 100%;
    width: 100%;
    background-color: $bgBoxColor;

    .login-form-box__button {
      border-radius: 10px;
      font-size: 15px;
      height: 30px;
      width: 45%;
      margin: 20px;
      background-color: $inputCorrectColor;
      transition: 0.3s;
      &:hover {
        background-color: $greenColor;
      }
    }
  }
}
