//$goldColor: #F0A935;
//$darkBlueColor: #1940E6;
//$lightblueColor:  #1AF09F;
//$greenColor: #AED923;
//$redColor: #8B0000;

$goldColor: #F2CA0F;
$darkBlueColor: #560CE8;
$lightblueColor:  #0CCCF2;
$greenColor: #12DB00;
$redColor: #8F3917;

// form register color

$borderColor: black;
$inputFontColor: black;
$bgBoxColor: white;
$underLine: black;
$bgButtonColor: #4782ea;
$bgButtonColorHover: #83a2e5;


