@import "../../../Assets/cssVariable";

.form-select-part{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items:center;
  width: 45%;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid $borderColor;
  border-radius: 10px;
  transition: 0.5s;
  & .form-select-part__box{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid $underLine;
    font-size: 12px;
    & .form-select-part-box__select{
      width: 40%;
    }
  }
  & .form-select-part__p{
    display: block;
    height: 15px;
    padding-top: 2px;
    font-size: 12px;
    line-height: 12px;
  }

}

.form-select-part--correct{
  background-color: $inputCorrectColor;
}
.form-select-part--incorrect{
  background-color: $inputIncorrectColor;
}

@media (max-width: 480px) {
  .form-select-part{
    width: 90%;
  }
}
